.delivery {
  &__icon {
    display: grid;
    justify-items: center;
    align-items: center;
    &::before {
      @include adaptiveValue("font-size", 50, 30);
      color: #fb4f31;
    }
    gap: rem(10);

    p {
      text-align: center;
      font-weight: 300;
      @include adaptiveValue("font-size", 20, 14);
      line-height: math.div(25, 20);
      color: #000000;
    }
  }
}

.wrapper._scroll {
  .marketplace-delivery {
    @include adaptiveValue("padding-top", 165, 98);

    @media (min-width: $tablet) {
      &::after {
        top: rem(0);
      }
    }
  }
}

.marketplace-delivery {
  @include adaptiveValue("padding-top", 65, 20);

  &__container {
    @media (max-width: $tablet) {
      padding: 0;
    }
  }

  &__body {
    position: relative;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include adaptiveValue("column-gap", 70, 20, 1920, 991);

      &::after {
        content: "";
        background-image: url("../img/main-section/boxes.png");
        width: 620px;
        height: 960px;
        position: absolute;
        top: rem(-170);
        right: -70px;
        z-index: -1;
      }
    }

    @media (max-width: em(1200)) {
      &::after {
        height: 800px;
        right: -140px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(30);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  &__subtitle {
    @include adaptiveValue("padding-bottom", 60, 20);
    p {
      font-weight: 300;
      @include adaptiveValue("font-size", 20, 18);
      line-height: math.div(30, 20);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: rem(20);

    @media (max-width: $tablet) {
      margin-top: rem(20);
      margin-bottom: rem(30);
      justify-content: center;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__icons {
    display: grid;
    grid-template-columns: rem(200) rem(100) rem(200);
    gap: rem(10);

    @media (min-width: $tablet) {
      padding-bottom: rem(60);
    }

    @media (max-width: $tablet) {
      justify-content: center;
    }

    @media (max-width: $mobile) {
      grid-template-columns: rem(103) rem(80) rem(110);
    }
  }

  &__images {
    position: relative;
    @media (min-width: $tablet) {
      padding-top: rem(35);
    }

    @media (max-width: $tablet) {
      background-image: url("./../img/main-section/boxesMobile.png");
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: 100% 100%;
      max-height: rem(350);
      background-position: 0 25px;

      img {
        display: table;
        margin: 0 auto;
        padding-bottom: rem(25);
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.btn-delivery--request {
  min-width: rem(247);
  min-height: rem(50);
}

.btn-delivery--detailed {
  font-weight: 600;
  font-size: rem(18);
  line-height: math.div(22, 18);
  text-transform: uppercase;
  min-width: rem(185);
  min-height: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #cdb1f4;
  border-radius: 30px;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid #723fb9;
    }
  }
}

.delivery-mobile__container {
  @media (min-width: $tablet) {
    padding: 0;
  }
}

//===================================================================================

.profitable {
  &__we {
    position: relative;
    @include adaptiveValue("padding-top", 74, 30);
    @include adaptiveValue("padding-bottom", 85, 50);
    @include adaptiveValue("padding-right", 60, 25);
    @include adaptiveValue("padding-left", 74, 25);
  }
}
#aboutUs {
  @include adaptiveValue("padding-top", 100, 50);
}

.profitable-we {
  max-width: rem(1295);
  margin: rem(100) auto rem(130) auto;

  @media (max-width: $tablet) {
    margin-top: 0;
    @include adaptiveValue("margin-bottom", 130, 50);
  }
  &::after {
    content: "";
    background-image: url("../img/profitable/phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    border-radius: 50px;
    z-index: -1;

    @media (max-width: em(1150)) {
      border-radius: 20px;
      background-image: url("../img/profitable/phoneMobile.png");
    }
  }
}

.info-profitable {
  &__container {
    max-width: rem(640);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 15);
    text-align: center;
  }

  &__subtitle {
    @include adaptiveValue("margin-bottom", 50, 40);

    p {
      font-weight: 400;
      @include adaptiveValue("font-size", 20, 16);
      line-height: math.div(24, 20);
      text-align: center;
    }
  }
}

.content-profitable {
  &__container {
    padding: 0;
  }

  &__body {
    display: grid;
    grid-template-columns: rem(326) rem(330) rem(356);
    gap: rem(10);
    justify-content: space-between;
    align-items: start;

    @media (max-width: em(1150)) {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: rem(40);
    }
  }

  &__cart {
    display: grid;
    justify-items: center;

    @media (max-width: em(1150)) {
      max-width: rem(500);
    }
  }
  &__title {
    @include adaptiveValue("margin-top", 25, 18);
    @include adaptiveValue("margin-bottom", 15, 10);

    p {
      font-weight: 400;
      font-size: rem(24);
      line-height: math.div(29, 24);
    }
  }

  &__text {
    text-align: center;

    p {
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(20, 16);
    }
  }
}
//===================================================================================

.fulfillment-suitable {
  &__container {
    max-width: rem(860);
  }

  &__body {
    @media (min-width: $mobile) {
      display: flex;
    }
  }

  &__title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: rem(10);
    }

    &::before {
      color: #fb4f31;
      font-size: rem(105);

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    @media (max-width: $mobile) {
      position: relative;
      display: table;
      margin: 0 auto;

      &::after {
        content: "";
        background-image: url("../img/arrow.png");
        position: absolute;
        width: 320px;
        height: 318px;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.content-suitable {
  &__cart {
    font-weight: 300;
    font-size: rem(16);
    min-width: rem(375);
    min-height: rem(40);
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 27px;
    padding: rem(10) rem(22);

    @media (min-width: $mobile) {
      line-height: math.div(20, 16);
    }

    @media (max-width: $mobile) {
      min-width: rem(336);
      padding-top: rem(10);
      padding-bottom: rem(10);
      font-size: rem(16);
      margin-left: rem(-11);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    @media (min-width: $mobile) {
      br {
        display: none;
      }
    }
  }
}
//===================================================================================

.scheme__cart {
  &:not(:last-child) {
    margin-bottom: rem(30);
  }
}

.work-scheme {
  @include adaptiveValue("padding-top", 130, 50);

  &__title {
    text-align: center;
    margin-bottom: rem(60);
  }

  &__content {
    @media (min-width: em(1150)) {
      display: grid;
      grid-template-columns: repeat(4, rem(255));
      justify-content: space-between;
    }
    @media (max-width: em(1150)) {
      width: 256px;
      margin: 0 auto;
    }
    @include adaptiveValue("margin-bottom", 60, 40);
  }

  &__btn {
    display: table;
    margin: 0 auto;
    position: relative;

    &::before {
      content: "";
      background-image: url("../img/scheme/arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 30px;
      height: 30px;
      bottom: -30px;
      left: -50px;
      animation: bounce 0.2s linear 0.1s infinite alternate;

      @media (max-width: em(1150)) {
        left: -35px;
      }
    }
    a {
      min-width: rem(250);
      min-height: rem(50);
      font-weight: 700;
    }
  }
}

@keyframes bounce {
  0% {
    bottom: -30px;
    left: -50px;
  }
  100% {
    bottom: -20px;
    left: -35px;
  }
}

.cart-scheme {
  &__body {
    border: 1px solid #000000;
    border-radius: 29px;
    height: rem(212);
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__text {
    text-align: center;
    @include adaptiveValue("margin-top", 64, 40);

    p {
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(20, 16);

      @media (max-width: em(1150)) {
        width: rem(320);
        margin-left: rem(-30);
      }
    }
  }
}
//===================================================================================

.product-cost {
  @include adaptiveValue("padding-top", 130, 85);
  &__container {
    max-width: rem(860);
  }

  &__btn {
    @include adaptiveValue("margin-top", 60, 30);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: rem(250);
    min-height: rem(50);
    font-weight: 700;
  }

  &__col {
    @media (min-width: $mobile) {
      display: flex;
      gap: rem(20);
    }
  }

  &__col--inp {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: rem(18);
    line-height: math.div(25, 18);

    label {
      margin-bottom: rem(7);
      padding-left: rem(20);
    }

    @media (max-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__row {
    border: 2px solid #cdb1f4;
    border-radius: 29px;
    padding: rem(35) rem(20);

    @media (max-width: $mobile) {
      padding-left: rem(55);
      border-radius: 20px;
    }

    .product-cost__header {
      @include adaptiveValue("margin-bottom", 20, 30);
      p {
        font-weight: 600;
        font-size: rem(18);
        line-height: math.div(22, 18);
        text-transform: uppercase;
      }
    }

    &:not(:first-child) {
      @include adaptiveValue("margin-top", 20, 10);
    }
  }

  &__contacts {
    @include adaptiveValue("margin-top", 30, 20);
  }
}

.header-cost {
  &__container {
    max-width: rem(595);
  }

  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 30, 10);
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(30);

    p {
      font-weight: 400;
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(22, 18);
    }
  }
}

//===================================================================================
.us-work {
  @include adaptiveValue("padding-top", 130, 50);

  &__container {
    max-width: rem(1270);
  }

  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 28, 40);

    h2 {
      font-weight: 800;
    }
  }

  &__body {
    position: relative;
    &::after {
      content: "";
      background-image: url("../img/phone.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: rem(45);
      z-index: -1;

      @media (max-width: $mobile) {
        border-radius: rem(20);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 20, 10);
  }

  &__cart {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 13);
    width: 100%;
    background-color: #fff;
    border: 1px solid #cdb1f4;
    border-radius: 41px;
    height: rem(85);
    padding-left: rem(35);
    padding-right: rem(15);
    @media (max-width: $mobile) {
      align-items: flex-start;
      height: 100%;
      padding: rem(15) rem(15) rem(15) rem(7);
      border-radius: 15px;
    }

    &::before {
      font-size: rem(50);
      color: #fb4f31;

      @media (max-width: $mobile) {
        font-size: rem(34);
      }
    }

    p {
      max-width: rem(755);
      font-family: "Open Sans";
      font-weight: 400;
      @include adaptiveValue("font-size", 16, 15);
      line-height: math.div(22, 16);
    }
  }

  &__btn {
    display: table;
    margin: 0 auto;

    a {
      @include adaptiveValue("margin-top", 25, 30);
      min-height: rem(50);
      min-width: rem(250);
    }
  }
}

.work-body__container {
  padding: rem(45) rem(8);
  max-width: rem(965);

  @media (max-width: $mobile) {
    padding: rem(10) rem(8);
  }
}
//===================================================================================

.details-contact {
  @include adaptiveValue("padding-top", 130, 50);

  &__container {
    max-width: rem(860);
  }

  &__body {
    @media (min-width: $mobile) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 20, 10);
    @media (max-width: $mobile) {
      max-width: rem(300);
    }
  }

  &__subtitle {
    p {
      font-family: "Open Sans";
      font-weight: 300;
      max-width: rem(280);
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(25, 18);
    }

    @media (max-width: $mobile) {
      display: flex;
      gap: rem(20);
    }
  }
}

.info-contact__header {
  @media (max-width: $mobile) {
    margin-bottom: rem(30);
    padding-left: rem(10);
  }
}

.form {
  &__approval {
    margin-top: rem(25);

    &._form-error {
      .checkbox__text {
        color: red;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(7);

    &:not(:first-child) {
      margin-top: rem(20);
    }

    input {
      @media (min-width: $mobile) {
        min-width: rem(375);
      }
    }

    label {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: rem(18);
      line-height: math.div(25, 18);
      @include adaptiveValue("padding-left", 20, 15);
    }
  }

  button {
    min-width: rem(250);
    min-height: rem(50);

    @media (min-width: $mobile) {
      margin-top: rem(34);
    }

    @media (max-width: $mobile) {
      margin: rem(24) auto 0 auto;
    }
  }
}

//===================================================================================

.map-page {
  @include adaptiveValue("padding-top", 130, 50);

  &__body {
    position: relative;
  }

  &__content {
    @include adaptiveValue("margin-top", 50, 30);
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(30);
    }

    p {
      font-family: "Open Sans";
      font-weight: 800;
      @include adaptiveValue("font-size", 20, 16);
      line-height: math.div(27, 20);
      text-transform: uppercase;
      color: #cdb1f4;

      @media (max-width: $mobile) {
        text-align: center;
      }
    }

    a {
      min-width: rem(250);
      min-height: rem(50);
    }
  }
}

.info-map {
  width: 498px;
  height: 325px;
  background-image: url("../img/section-map/phone.png");
  background-repeat: no-repeat;
  border-radius: rem(35);
  padding: rem(48) rem(60);
  z-index: 3;

  @media (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  @media (max-width: $tablet) {
    background-image: url("../img/section-map/phoneMobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 336px;
    border-radius: rem(20);
    height: 161px;
    padding: rem(20) rem(15);
    margin-bottom: rem(10);
  }

  @media (max-width: $mobileSmall) {
    width: 100%;
  }

  &__title {
    margin-bottom: rem(34);
    max-width: rem(350);

    h2 {
      font-weight: 800;
      font-size: rem(40);
      line-height: math.div(49, 40);
      text-transform: uppercase;

      @media (max-width: $tablet) {
        font-size: rem(28);
      }
    }

    @media (max-width: $tablet) {
      margin-bottom: rem(10);
    }
  }

  &__subtitle {
    p {
      font-family: "Open Sans";
      font-weight: 300;
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(25, 18);

      @media (max-width: $tablet) {
        max-width: rem(270);
      }
    }
  }
}
//===================================================================================
.contacts-our {
  @include adaptiveValue("padding-top", 140, 50);

  &__container {
    max-width: rem(800);
  }

  &__body {
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("gap", 30, 10);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }

    h2 {
      @media (max-width: $mobile) {
        text-align: center;
      }
    }

    p {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: rem(18);
      line-height: math.div(25, 18);

      @media (max-width: $mobile) {
        text-align: center;
      }
    }
  }

  &__title {
    @media (max-width: $mobile) {
      margin-bottom: rem(10);
    }
  }

  &__info {
    @media (max-width: $mobile) {
      max-width: rem(300);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @media (max-width: $mobile) {
      align-items: center;
    }
  }

  &__cart {
    max-width: rem(420);
    min-height: rem(50);
    padding: rem(13) rem(20);
    border: 1px solid #000000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: rem(10);
    width: 100%;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: rem(18);
    line-height: math.div(25, 18);

    @media (max-width: $mobile) {
      padding: rem(15) rem(18);
    }
  }
}

.contacts-our {
  &__important {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__seti {
    padding-top: rem(5);
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @media (max-width: $mobile) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: rem(30);
      gap: rem(31);
      span {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(15);

    span {
      font-size: rem(18);
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    background-color: #fb4f31;
    border-radius: 50%;
    position: relative;

    &.tg {
      img {
        top: 53%;
        left: 48%;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: $mobile) {
      width: 50px;
      height: 50px;

      &.tg {
        img {
          top: 51%;
        }
      }
    }

    @media (min-width: $mobile) {
      &.vk {
        img {
          top: 53%;
          left: 50%;
        }
      }
    }
  }
}

.cart-contacts__info {
  @media (max-width: $mobile) {
    font-size: rem(15);
  }
}

//===================================================================================
